functorch
ipdb
ipykernel
ipython
jupyter-client
jupyter-core
Markdown
matplotlib
numpy
opencv-python
pandas
Pillow
scikit-image
scikit-learn
scipy
tensorboard
timm
torch
torchvision
tqdm
wandb
wget
wheel